:root {
	--taskbar-height: 45px;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-image: url(./system/bg/img0.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	touch-action: manipulation;
	-ms-content-zooming: none;
	-ms-touch-action: manipulation;
	zoom: reset;
	zoom: 1;
	transition: all .3s ease-in-out;
}

.window-frame {
	position: relative;
	z-index: 9;
	width: 100%;
	height: calc(100% - var(--taskbar-height));
	margin-bottom: -.1px;
}

.window-frame-application.window-frame-application-show {
	display: block;
}

.window-frame-application {
	display: none;
	position: absolute;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 3px 0px;
	transform-origin: center bottom;
	transform-origin: 0 0;
}

.window-frame-application-toolbar {
	height: 30px;
	display: flex;
	justify-content: space-around;
	background: rgb(241, 241, 241);
	align-items: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-frame-application.window-frame-application-full-mode {
	border-radius: 0;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	box-shadow: none
}

.window-frame-application-toolbar-drag {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.window-frame-application-toolbar-title {
	padding: 0 10px 0 5px;
	font-weight: 300;
	font-size: 10px;
	width: auto;
	max-width: calc(100% - 135px);
	white-space: nowrap;
	display: flex;
	align-items: center;
	-webkit-user-drag: none;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.window-frame-application-toolbar-action {
	width: 30px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	height: 100%;
}

.window-frame-application-toolbar-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}

svg {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.window-frame-application-toolbar-action-close:hover {
	background: red;
	color: white;
}

.window-frame-application-toolbar-action-toggle:hover,
.window-frame-application-toolbar-action-small:hover {
	backdrop-filter: invert(.08);
}

.window-frame-application-toolbar-action {
	transition: all .16s ease-in-out;
}

.window-frame-application-toolbar-action-toggle.window-frame-application-toolbar-action-toggle-full-mode [data-svg="full"] {
	display: none;
}

.window-frame-application-toolbar-action-toggle.window-frame-application-toolbar-action-toggle-full-mode [data-svg="unfull"] {
	display: block;
}

.window-frame-application-toolbar-action-toggle [data-svg="unfull"] {
	display: none;
}

.window-taskbar {
	height: var(--taskbar-height);
	background: rgba(243, 243, 243, .85);
	display: flex;
	align-items: center;
	z-index: 9;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-backdrop-filter: saturate(3) blur(20px);
	backdrop-filter: saturate(3) blur(20px);
	transition: all .3s ease-in-out;
}

.window-taskbar-application-icon-image {
	width: 20px;
	height: 20px;
}

.window-taskbar-application.active .window-taskbar-application-icon {
	animation: scale .3s;
}

.window-taskbar-application {
	transition: all 0.15s ease-in-out;
	width: 32px;
	height: 32px;
	min-width: 32px;
	border-radius: 4px;
}

.window-taskbar-application:first-child {
	margin-left: 12px;
}

.window-taskbar-application.active,
.window-taskbar-application:hover {
	background: rgba(255, 255, 255, .67);
	border-radius: 4px;
}

.window-taskbar-application.running::after {
	background: rgb(171, 171, 171);
	border-radius: 1.5px;
	height: 3px;
	width: 6px;
	content: '';
	position: relative;
	bottom: 3px;
	display: block;
	margin: 0 auto;
}

.window-taskbar-application.running.active::after {
	background: dodgerblue;
	border-radius: 1.5px;
	height: 3px;
	width: 12px;
	content: '';
	position: relative;
	top: -3px;
	display: block;
	margin: 0 31.25%;
}

.window-taskbar-application-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	pointer-events: none;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.8);
	}

	100% {
		transform: scale(1);
	}
}

.window-frame-application-toolbar-title-icon {
	width: 20px;
	height: 20px;
}

.window-frame-application-toolbar-title-content {
	margin-left: 6px;
	font-weight: 300;
	font-size: 10px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.window-contextmenu {
	position: absolute;
	display: none;
	width: 150px;
	height: fit-content;
	border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 3px 1px;
	background: #fff;
	padding: 10px 0;
	z-index: 9;
}

.window-contextmenu.window-contextmenu-show {
	display: block;
}

.window-contextmenu-item {
	padding: 3px 10px;
	cursor: pointer;
	font-size: 12px;
}

.window-contextmenu-item:hover {
	background: rgb(231, 231, 231);
}

.window-frame-application-content {
	height: calc(100% - 30px);
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1;
	/* overflow: auto; */
}

.window-frame-application-content-mask {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	top: -100%;
	left: 0;
	z-index: 9;
}

.window-taskbar-system {
	height: 32px;
	font-size: 10px;
	text-align: center;
	padding: 0px 8px;
	border-radius: 4px;
	transition: background .1s;
	margin: 0 0 0 auto;
}

.window-taskbar-system:not(.window-taskbar-system:hover),
.window-taskbar-system.active {
	opacity: 1 !important;
}

.window-taskbar-system:active {
	opacity: .6;
}

.window-taskbar-system-time-time,
.window-taskbar-system-time-date {
	font-weight: 400;
	line-height: 12px;
}

.window-taskbar-system-time {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.window-taskbar-system:hover,
.window-taskbar-system.active {
	background: rgba(255, 255, 255, .5);
}

.window-frame-application-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 0px;
	background: none;
}

.window-frame-application-content::-webkit-scrollbar-thumb {
	background: rgba(171, 171, 171, 0.5);
	border-radius: 10px;
}

.window-frame-application-content::-webkit-scrollbar-thumb:hover {
	background: rgba(171, 171, 171, 1);
	border-radius: 10px;
}

.window-frame-application-content::-webkit-scrollbar-corner {
	background: none;
}

.window-frame-application-content * {
	display: block;
}

.window-frame-application.focus {
	z-index: 10;
}

.window-taskbar-application {
	margin-left: 6px;
}

.window-taskbar-applications {
	display: flex;
	align-items: center;
	overflow: auto;
	max-width: fit-content;
	flex: auto;
	margin-right: 6px;
}

.window-taskbar-applications::-webkit-scrollbar {
	width: 0;
	height: 0;
	border-radius: 0px;
	background: none;
	border: 0;
}

.window-taskbar-applications::-webkit-scrollbar-thumb {
	min-height: 50px;
	min-width: 50px;
	border-radius: 10px;
}

.window-taskbar-applications::-webkit-scrollbar-thumb:hover {
	min-height: 50px;
	min-width: 50px;
	border-radius: 10px;
}

.window-taskbar-applications::-webkit-scrollbar-corner {
	background: none;
}

.window-taskbar-return-desktop {
	width: 8px;
	height: 100%;
	margin: 0 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.window-taskbar-return-desktop::before {
	height: 16px;
	width: 2px;
	border-radius: 99px;
	content: '';
	display: block;
	background: #a1a1a1;
	transition: all .05s ease-in-out;
	opacity: 0;
}

.window-taskbar-return-desktop:hover::before {
	opacity: 1;
}

.window-frame-application-loading {
	height: calc(100% - 30px);
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	z-index: 0;
	transition: all .1s ease-in-out;
}

.window-frame-application-loading.active {
	z-index: 9;
	opacity: 1;
	background: #fff;
}

.window-frame-application-loading.active .webos-loading-spinner {
	width: 48px;
	height: 48px;
}

.window-frame-application-loading.active .webos-loading-spinner>circle {
	stroke: #0069c4;
	stroke-width: 1px;
}

.window-alert-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(20px);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.window-alert {
	width: fit-content;
	max-width: min(420px, 60vw);
	max-height: min(360px, 80vh);
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

.window-alert-content {
	padding: 24px 24px;
	overflow: auto;
	max-height: 100%;
}

.window-alert-title {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: .75rem;
}

.window-alert-line {
	margin-block-start: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.window-alert-footer {
	border-top: 1px solid #ddd;
	background: #f3f3f3;
	padding: .75rem 1.5rem;
	text-align: right;
	position: sticky;
	bottom: 0;
}

.window-alert-container.hide {
	display: none;
}

:root {
	--windows11-ui-input-defualt-color: #0069c4;
	--windows11-ui-input-defualt-text: #fff;
	--windows11-ui-input-outline-color: #fff;
	--windows11-ui-input-outline-text: #000;
	--windows11-ui-input-outline-border: 1px solid rgb(211, 211, 211);
}

.wui * {
	box-sizing: border-box;
}

input[type="checkbox"]:checked {
	/*border: 1px solid rgb(191, 191, 191);*/
	background-color: var(--windows11-ui-input-defualt-color);
}

.wui-button {
	background: var(--windows11-ui-input-defualt-color);
	color: var(--windows11-ui-input-defualt-text);
	border: 1px solid transparent;
	font-weight: 500;
	padding: 6px 24px;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.wui-button.outline {
	background: var(--windows11-ui-input-outline-color);
	color: var(--windows11-ui-input-outline-text);
	box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 1px 0px;
	border: var(--windows11-ui-input-outline-border);
}

.wui-button:hover {
	opacity: .95;
}

.wui-button:active {
	opacity: .7;
}

.wui-system ::-webkit-scrollbar,
.wui-system-light ::-webkit-scrollbar,
[data-theme="dark"] .wui-system ::-webkit-scrollbar,
.wui-system-dark ::-webkit-scrollbar {
	width: 14px;
	height: 14px;
	border-radius: 7px
}

.wui-system ::-webkit-scrollbar,
.wui-system-light ::-webkit-scrollbar {
	--scroll: rgb(255 255 255 / 80%);
	--scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
}

[data-theme="dark"] .wui-system ::-webkit-scrollbar,
.wui-system-dark ::-webkit-scrollbar {
	--scroll: rgb(44 44 44 / 25%);
	--scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
	--scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E")
}

.wui-system ::-webkit-scrollbar:vertical:hover,
.wui-system-light ::-webkit-scrollbar:vertical:hover,
.wui-system-dark ::-webkit-scrollbar:vertical:hover {
	background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, var(--scroll);
}

.wui-system ::-webkit-scrollbar:horizontal:hover,
.wui-system-light ::-webkit-scrollbar:horizontal:hover,
.wui-system-dark ::-webkit-scrollbar:horizontal:hover {
	background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, var(--scroll);
}

.wui-system ::-webkit-scrollbar-thumb,
.wui-system-light ::-webkit-scrollbar-thumb {
	display: none;
	display: block;
	background: rgba(0, 0, 0, .5);
	background-clip: padding-box;
	border: 6px solid transparent;
	border-radius: 14px
}

[data-theme=dark] .wui-system ::-webkit-scrollbar-thumb,
.wui-system-dark ::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .5);
	background-clip: padding-box;
	border: 6px solid transparent;
}

.wui-system ::-webkit-scrollbar-thumb:hover,
.wui-system-dark ::-webkit-scrollbar-thumb:hover,
.wui-system-light ::-webkit-scrollbar-thumb:hover {
	border: 4px solid transparent;
	background-clip: padding-box;
}

.wui-system ::-webkit-scrollbar-button:single-button,
.wui-system-dark ::-webkit-scrollbar-button:single-button,
.wui-system-light ::-webkit-scrollbar-button:single-button {
	height: 14px;
}

.wui-system :hover::-webkit-scrollbar-thumb,
.wui-system-dark :hover::-webkit-scrollbar-thumb,
.wui-system-light :hover::-webkit-scrollbar-thumb {
	display: block;
}

[data-theme="dark"] .thumbnail-window {
	background: rgb(50 50 50 / 90%);
}

[data-theme="dark"] .thumbnail-window-title {
	color: #fff;
}

[data-theme="dark"] .thumbnail-window-close-button {
	color: #fff !important;
}

.thumbnail-window {
	/* width: fit-content; */
	height: fit-content;
	position: absolute;
	bottom: calc(var(--taskbar-height) + 6px);
	padding: 6px;
	box-sizing: border-box;
	backdrop-filter: blur(16px) saturate(1.8);
	background: rgb(241 241 241 / 90%);
	border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 4px;
	/* max-height: 90px; */
	/* min-height: 60px; */
	opacity: 0;
	z-index: -1;
	transition: all .1s ease-in-out;
	overflow: hidden;
}

.thumbnail-window-view {
	max-width: 180px;
	max-height: 120px;
	pointer-events: none;
}

.thumbnail-window.active {
	opacity: 1;
	z-index: 9;
}

.thumbnail-window-icon {
	width: 18px;
	height: 18px;
	min-width: 18px;
	padding-left: 2px;
}

.thumbnail-window-bar {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	margin-top: 0px;
	max-width: inherit;
	overflow: hidden;
	height: 24px;
	width: calc(100% + 4px);
	position: relative;
	top: -2px;
	left: -2px;
}

.thumbnail-window-title {
	font-size: 10px;
	padding-left: 6px;
	padding-right: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thumbnail-window-close-button {
	width: 24px;
	height: 24px;
	min-width: 24px;
	margin-left: 6px;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	color: transparent;
	transition: all .16s ease-in-out;
	display: none;
	position: sticky;
	right: 0;
	margin: auto 0 auto auto;
}

.thumbnail-window-close-button:hover {
	background: red !important;
	color: white !important;
}

.thumbnail-window:hover .thumbnail-window-close-button {
	color: unset;
	display: flex;
}

.thumbnail-window * {
	-webkit-user-drag: none;
	user-select: none;
}

.window-sidebar {
	position: fixed;
	bottom: calc(var(--taskbar-height) + var(--sidebar-margin));
	right: calc(var(--max-width) * -1.5);
	max-width: var(--max-width);
	transition: all .2s ease-in-out;
	width: var(--max-width);
	--max-width: 240px;
	--sidebar-margin: 8px;
	max-height: calc(100vh - var(--taskbar-height) - var(--sidebar-margin) * 2);
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--sidebar-margin);
	z-index: 500;
	/* overflow: hidden; */
	user-select: none;
}

.window-sidebar.active {
	right: var(--sidebar-margin);
}

.window-sidebar-notification {
	margin-top: auto;
}

[data-theme="dark"] .window-sidebar-notification,
[data-theme="dark"] .window-sidebar-calendar {
	background: rgb(42 42 42 / 90%);
	border: 1px solid rgb(72, 72, 72);
	color: #ddd;
}

.window-sidebar-notification,
.window-sidebar-calendar {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px 4px;
	transition: all 0.15s ease-in-out;
	border: 1px solid #c2c2c2;
	box-sizing: border-box;
	backdrop-filter: blur(16px) saturate(1.8);
	background: rgb(241 241 241 / 90%);
	border-radius: 8px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: auto;
}

.window-sidebar-notification-title {
	/* margin-bottom: 6px; */
	padding: 12px 16px 8px;
}

.notification {
	display: flex;
	flex-direction: column;
	padding: 6px 12px 8px;
	border-radius: 4px;
	user-select: none;
	-webkit-user-drag: none;
	cursor: default;
	transition: all .1s ease-in-out;
}

.notification-info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	font-size: 12px;
	margin-bottom: 4px;
}

.notification-icon {
	width: 18px;
	height: 18px;
	margin-right: 6px;
}

.notification-host {
	color: rgb(70, 70, 70);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 4px 0 0;
}

.notification-time {
    margin: 0 0 0 auto;
    min-width: fit-content;
}

.notification:hover {
	background: rgb(250 250 250 / 63%);
}

[data-theme="dark"] .notification-host {
    color: rgb(204 204 204);
}

[data-theme="dark"] .notification:hover {
	background: rgb(81 81 81 / 62%);
}

.window-sidebar-notifications {
    padding: 4px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.window-sidebar-calendar-summary {
    padding: 12px 16px 12px;
}

.window-sidebar-calendar {
    min-height: fit-content;
    height: fit-content;
    flex: 1;
    display: table;
}

.window-sidebar-notification {
    flex: 0;
}

.no-notification {
    display: flex;
    padding: 16px 12px 30px;
    align-items: center;
    justify-content: center;
}

.no-notification.hide {
    display: none;
}

.notification-content {
    -webkit-box-flex: 2;
    overflow: hidden;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.notification-icon-failed {
    width: 18px;
    height: 18px;
    min-width: 18px;
    margin-right: 6px;
    border-radius: 50%;
    background: rgb(171, 171, 171);
}