body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-image: url(./background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	touch-action: manipulation;
	-ms-content-zooming: none;
	-ms-touch-action: manipulation;
	zoom: reset;
	zoom: 1;
}

.window-frame {
	position: relative;
	z-index: 9;
	width: 100%;
	height: calc(100% - 45px);
}

.window-frame-application.window-frame-application-show {
	display: block;
}

.window-frame-application {
	display: none;
	position: absolute;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: rgba(99, 99, 99, 0.2) 1px 3px 3px 0px;
	z-index: 9;
}

.window-frame-application-toolbar {
	height: 30px;
	display: flex;
	justify-content: space-around;
	background: rgb(241, 241, 241);
	align-items: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-frame-application.window-frame-application-full-mode {
	border-radius: 0;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	box-shadow: none
}

.window-frame-application-toolbar-drag {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.window-frame-application-toolbar-title {
	padding: 0 10px 0 5px;
	font-weight: 300;
	font-size: 10px;
	width: auto;
	max-width: calc(100% - 135px);
	white-space: nowrap;
	display: flex;
	align-items: center;
	-webkit-user-drag: none;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.window-frame-application-toolbar-action {
	width: 30px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	height: 100%;
}

.window-frame-application-toolbar-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}

svg {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.window-frame-application-toolbar-action-close:hover {
	background: red;
	color: white;
}

.window-frame-application-toolbar-action-toggle:hover,
.window-frame-application-toolbar-action-small:hover {
	backdrop-filter: invert(.08);
}

.window-frame-application-toolbar-action {
	transition: all .16s ease-in-out;
}

.window-frame-application-toolbar-action-toggle.window-frame-application-toolbar-action-toggle-full-mode [data-svg="full"] {
	display: none;
}

.window-frame-application-toolbar-action-toggle.window-frame-application-toolbar-action-toggle-full-mode [data-svg="unfull"] {
	display: block;
}

.window-frame-application-toolbar-action-toggle [data-svg="unfull"] {
	display: none;
}

.window-tool-bar {
	height: 45px;
	background: rgba(228, 239, 249, .9);
	backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	z-index: 9;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img.window-tool-bar-application-icon-image {
	width: 20px;
	height: 20px;
}

.window-tool-bar-application.active .window-tool-bar-application-icon {
	animation: scale .3s;
}

.window-tool-bar-application {
	transition: all 0.15s ease-in-out;
	width: 32px;
	height: 32px;
	cursor: pointer;
	min-width: 32px;
}

.window-tool-bar-application:first-child {
	margin-left: 12px;
}

.window-tool-bar-application.active, .window-tool-bar-application:hover {
	background: rgba(255, 255, 255, .7);
	border-radius: 4px;
}

.window-tool-bar-application.running::after {
	background: rgb(171, 171, 171);
	border-radius: 1.5px;
	height: 3px;
	width: 6px;
	content: '';
	position: relative;
	bottom: 3px;
	display: block;
	margin: 0 auto;
}

.window-tool-bar-application.running.active::after {
	background: dodgerblue;
	border-radius: 1.5px;
	height: 3px;
	width: 12px;
	content: '';
	position: relative;
	top: -3px;
	display: block;
	margin: 0 31.25%;
}

.window-tool-bar-application-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	pointer-events: none;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.8);
	}

	100% {
		transform: scale(1);
	}
}

.window-frame-application-toolbar-title-icon {
	width: 20px;
	height: 20px;
}

.window-frame-application-toolbar-title-content {
	margin-left: 6px;
	font-weight: 300;
	font-size: 10px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.window-contextmenu {
	position: absolute;
	display: none;
	width: 150px;
	height: fit-content;
	border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 3px 1px;
	background: #fff;
	padding: 10px 0;
	z-index: 9;
}

.window-contextmenu.window-contextmenu-show {
	display: block;
}

.window-contextmenu-item {
	padding: 3px 10px;
	cursor: pointer;
	font-size: 12px;
}

.window-contextmenu-item:hover {
	background: rgb(231, 231, 231);
}

.window-frame-application-content {
	height: calc(100% - 30px);
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1;
	/* overflow: auto; */
}

.window-frame-application-content-mask {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	top: -100%;
	left: 0;
	z-index: 9;
}

.window-tool-bar-system {
	height: 32px;
	font-size: 10px;
	text-align: center;
	padding: 0px 8px;
	border-radius: 4px;
	transition: background .1s;
	margin: 0 0 0 auto;
}

.window-tool-bar-system:not(.window-tool-bar-system:hover), .window-tool-bar-system.active {
	opacity: 1 !important;
}

.window-tool-bar-system:active {
	opacity: .6;
}

.window-tool-bar-system-time-time,
.window-tool-bar-system-time-date {
	font-weight: 400;
	line-height: 12px;
}

.window-tool-bar-system-time {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.window-tool-bar-system:hover, .window-tool-bar-system.active {
	background: rgba(255, 255, 255, .5);
}

.window-frame-application-content::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 0px;
	background: none;
}

.window-frame-application-content::-webkit-scrollbar-thumb {
	background: rgba(171, 171, 171, 0.5);
	border-radius: 10px;
}

.window-frame-application-content::-webkit-scrollbar-thumb:hover {
	background: rgba(171, 171, 171, 1);
	border-radius: 10px;
}

.window-frame-application-content::-webkit-scrollbar-corner {
	background: none;
}

.window-frame-application-content * {
	display: block;
}

.window-frame-application.focus {
	z-index: 10;
}

.window-tool-bar-application {
	margin-left: 6px;
}

.window-tool-bar-applications {
	display: flex;
	align-items: center;
	overflow: auto;
	max-width: fit-content;
	flex: auto;
	margin-right: 6px;
}

.window-tool-bar-applications::-webkit-scrollbar {
	width: 0;
	height: 0;
	border-radius: 0px;
	background: none;
	border: 0;
}

.window-tool-bar-applications::-webkit-scrollbar-thumb {
	min-height: 50px;
	min-width: 50px;
	border-radius: 10px;
}

.window-tool-bar-applications::-webkit-scrollbar-thumb:hover {
	min-height: 50px;
	min-width: 50px;
	border-radius: 10px;
}

.window-tool-bar-applications::-webkit-scrollbar-corner {
	background: none;
}

.window-tool-bar-return-desktop {
    width: 8px;
    height: 100%;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-tool-bar-return-desktop::before {
    height: 16px;
    width: 2px;
    border-radius: 99px;
    content: '';
    display: block;
    background: #a1a1a1;
    transition: all .05s ease-in-out;
    opacity: 0;
}

.window-tool-bar-return-desktop:hover::before {
    opacity: 1;
}

.window-frame-application-loading {
	height: calc(100% - 30px);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
	opacity: 0;
	z-index: 0;
	transition: all .1s ease-in-out;
}

.window-frame-application-loading.active {
	z-index: 9;
	opacity: 1;
	background: #fff;
}

.window-frame-application-loading.active .webos-loading-spinner {
	width: 48px;
	height: 48px;
}

.window-frame-application-loading.active .webos-loading-spinner>circle {
	stroke: #0069c4;
	stroke-width: 1px;
}