.window-taskbar-application.active, .window-taskbar-application:hover {
    background: none !important;
	backdrop-filter: invert(.5) !important;
}

.window-taskbar-system:hover, .window-taskbar-system.active {
    background: none !important;
    backdrop-filter: invert(.5) !important;
}