.n-t-window input, .n-t-window textarea {
    border: 1px solid rgb(191 191 191);
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 8px;
    width: -webkit-fill-available;
    resize: vertical;
    outline: none;
}

.n-t-window {
    padding: 18px 32px 24px;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
    height: -webkit-fill-available;
}

.n-t-window input:focus, .n-t-window textarea:focus {
    box-shadow: rgba(171, 171, 171, .25) 0px 0px 0px 3px;
    outline: none;
}

.n-t-window .wui-button {
    margin-bottom: 6px;
}

.n-t-window [data-element="result"] {
    white-space: normal;
    max-width: -webkit-fill-available;
    word-break: break-all;
    word-wrap: break-word;
}

.n-t-window label {
    font-size: 14px;
    margin-bottom: 6px;
}

[data-theme="dark"] .n-t-window {
    color: #fff;
    background: rgb(40 39 39);
}

[data-theme="dark"] .n-t-window input, [data-theme="dark"] .n-t-window textarea {
    background: transparent;
    color: #fff;
    border: 1px solid rgb(83 83 83);
}

[data-theme="dark"] .n-t-window input:focus, [data-theme="dark"] .n-t-window textarea:focus {
    box-shadow: rgb(126 126 126 / 25%) 0px 0px 0px 3px;
}

[data-theme="dark"] .n-t-toolbar .window-frame-application-toolbar, [data-theme="dark"] .n-t-toolbar .window-frame-application-loading {
    color: #fff !important;
    background: rgb(40 39 39) !important;
}